<mat-card class="example-card">

  <mat-card-header>
    <h1>Create a post</h1>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Author</mat-label>
        <input type="text" matInput formControlName="author">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Content</mat-label>
        <input type="text" matInput formControlName="content">
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Create</button>
      </mat-card-actions>

    </form>

  </mat-card-content>


</mat-card>
