
<footer class="py-3">
  <div class="copy-bottom-txt text-center py-3">
    <p>
      © 2021 Fire Blog. Made by <i>Iuliia Kirillova.</i>
    </p>
  </div>
</footer>
<!-- CDN подключение иконок fontawesome -->
<script src="https://use.fontawesome.com/df966d76e1.js"></script>
