
.social-icons ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-icons ul li a span {
  color: #000;
  width: 34px;
  background: #fff;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 20px;
  font-size: 13px;
  margin: 0px 2px;
  border-radius: 20px;
  font-size: 14px;
  margin: 0px 2px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.social-icons ul li a span:hover{color:#0ccbf1;}
.copy-bottom-txt p{font-size:18px;
  color:black;
}
.social-icons ul li:nth-child(2){
  margin: 0 10px;
}
