mat-card {
  width: 300px;
  margin: 50px auto;
  padding-bottom: 30px;
}

.error {
  color: red;
}

mat-card-header {
  width: 100%;
  display: block;
  h1 {
    text-align: center;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
