<mat-card class="example-card">

  <mat-card-header>
    <h1>Log in</h1>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form">

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
               placeholder="Ex.pat@example.com">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

    </form>

    <p class="error">{{ error }}</p>

  </mat-card-content>

  <mat-card-actions>
    <button (click)="submit()" mat-raised-button color="primary">Sign in</button>
  </mat-card-actions>
</mat-card>
