<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Fire blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['admin', 'posts']">Admin dashboard <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="!isAuth">
          <a class="nav-link" [routerLink]="['auth', 'sign-in']">Sign In </a>
        </li>
        <li class="nav-item active" *ngIf="isAuth">
          <a class="nav-link"  href="">{{ email }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  href="" (click)="logOut()">Log out</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
