<div class="posts">
  <div class="post" *ngFor="let post of posts">
<h1 [routerLink]="[post.id]" >{{ post.title }}</h1>
    <span class="post-author">{{ post.author }}</span>
    <div class="post-content" [innerHTML]="post.content"></div>
  </div>
</div>
