.post {
  &-h1 {
    font-size: 35px;
    line-height: 43px;
  }

  &-author {
    opacity: .6;
    margin-bottom: 20px;
    display: block;
  }
  &-content {
    color: #3a3a3a;
    font-size: 19px;
    line-height: 29px;
  }
}
