/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.post {
  &-h1 {
    font-size: 35px;
    line-height: 43px;
  }

  &-author {
    opacity: .6;
    margin-bottom: 20px;
    display: block;
  }
  &-content {
    color: #3a3a3a;
    font-size: 19px;
    line-height: 29px;
  }
}

.example-full-width {
  width: 100%;
}
